<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>284987929156-8onoe9vidhukd3tt70l5pj63duunkvc7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.284987929156-8onoe9vidhukd3tt70l5pj63duunkvc7</string>
	<key>API_KEY</key>
	<string>AIzaSyDxAEyxZVnok5IjM_oasoKTBkDvR-7h3kc</string>
	<key>GCM_SENDER_ID</key>
	<string>284987929156</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.moappdveProject</string>
	<key>PROJECT_ID</key>
	<string>moappdev-project</string>
	<key>STORAGE_BUCKET</key>
	<string>moappdev-project.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:284987929156:ios:73403d8f0cedc43c2e8211</string>
</dict>
</plist>